version = 0.26.2
profile = default
break-cases = fit
break-fun-decl = wrap
break-fun-sig = wrap
break-infix = fit-or-vertical
break-sequences = false
cases-exp-indent = 2
doc-comments = before
exp-grouping = preserve
field-space = loose
if-then-else = compact
indicate-multiline-delimiters = space
indicate-nested-or-patterns = space
let-and = sparse
margin = 90
module-item-spacing = sparse
parens-tuple = always
parens-tuple-patterns = multi-line-only
sequence-style = terminator
single-case = compact
type-decl = sparse
wrap-comments = true


